#sidebar {
  position: absolute;
  background-color: blue;
  /* position: fixed; */
  width: 300px
}

.note-container {
  border: 1px dotted red;
  padding: 2px
}

.note-preview {
  padding-left: 10px;
  border: 1px dotted yellow;
}

.main {
  margin-left: 300px;
  border: 1px dotted yellow;
  background-color: red
}
